<a href="https://colab.research.google.com/github/parneetsaxena/WCTM/blob/main/PARNEETPADHAI_jpynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program for 5 table
for j in range(11):
  print(f"{5}*{j} = {5*j}")

5*0 = 0
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [ ]:
#Program to print number from 20
for i in range(21):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#Program for area of triangle
def area_triangle(b,h):
  return (1/2*b*h)

area = area_triangle(2,3)
print(area)

3.0

In [ ]:
#Area for gola
def area_circle(r):
  return (3.14*r*r)

area = float(area_circle(2))
print(area)

12.56

In [ ]:
#area for chatkon
def area_rectangle(l,b):
  return l*b
l=int(input("Enter length = "))
b = int(input("Enter breadth = "))
area = area_rectangle(l,b)
print(area)

Enter length = 12
Enter breadth = 1
12

In [ ]:
#program to print name,course and address
dict={"Name":"Parneet Saxena","Course Name":"Artificial Intelligence & Data Science","Address":"Bhiwadi"}
print(dict)

{'Name': 'Parneet Saxena', 'Course Name': 'Artificial Intelligence & Data Science', 'Address': 'Bhiwadi'}

In [ ]:
definition = "Python is a high-level interpreted language used to build websites, do machine learning, for automation and big data etc."
print(definition)

In [ ]:
ank = int(input("Ank batao = "))
if(ank%2==0):
  print("even")
else:
  print("odd")

Ank batao = 34
even

In [ ]:
ankA = int(input("Enter pehla ank = "))
ankB = int(input("Enter dusra ank = "))
if(ankA>ankB):
  print("ankA bada")
else:
  print("ankB bada")

Enter pehla ank = 34
Enter dusra ank = 5
ankA bada

In [ ]:
string = "I am a student of WCTM"
vowel = "AEIOUaieou"
non_vowel = ""
for char in string:
  if char not in vowel:
   non_vowel += char
print(non_vowel)

 m  stdnt f WCTM

In [ ]:
# program: write a program to print all vowels in a string

string = "I am a student of WCTM"
vowel = "AEIOUaieou"
vowels_in_string = ""
for char in string:
  if char in vowel:
    vowels_in_string += char
vowels_in_string

'Iaaueo'

In [2]:
a,b=100,200
max = a if a>b else b
print(max)
a,b=100,200
min = a if a<b else b
print(min)

200
100

In [4]:
x=24
y=50
list=[10,20,30,40,50]
if(x not in list):
  print("X is not present in the given list")
else:
  print("X is present in the given list")
if(y in list):
  print("Y is present in the list")
else:
  print("Y is not present in the list")

X is not present in the given list
Y is present in the list

In [13]:
exp = 23*2+23
print(exp)
name = "Chotu Don"
age=19
name1="Hadoop"
users=100
name2="Dholakpur"
population=1500
if name=="Parneet" or name=="Chotu Don" and age>=19:
  print("Case 1 running")
else:
  print("Case 1 failed")
if name1=="Hadoop" or name1=="DoomDoom" and users>=1000:
  print("Case 2 running")
else:
  print("Case 2 failed")
if name2=="Kirmada" or name2=="Keechak" and population>=2000:
  print("Case 3 running")
else:
  print("Case 3 failed")

69
Case 1 running
Case 2 running
Case 3 failed

In [23]:
a = 2
if(a==2):
  print("a is 2")
else:
  print("a is not 2")
print(a==3)

a is 2
False

In [21]:
# print(100/10*10)
# print(2/3**3)
# print((5-3)*2)
# print(2**2**2)
# print(5**2*3+4/2)
# print(100 and 10)
# print(11 or 12)
# print(20 or 50 and 55)
# print(not 50 or 50)
print((100 & 10)|70)

70

In [24]:
letter = 'X'
list = ['W','C','T','M']
if(letter in list):
  print("Letter found successfully")
else:
  print("Letter not found")

Letter not found

In [27]:
import math
root = math.sqrt(3)
length = int(input("Enter the side = "))
area = (root/4)*length*length
print(area)

Enter the side = 6
15.588457268119896

In [28]:
diagonal1 = int(input("Enter the first diagonal = "))
diagonal2 = int(input("Enter the second diagonal = "))
area = (diagonal1*diagonal2)/2
print(area)

Enter the first diagonal = 2
Enter the second diagonal = 1
1.0

In [ ]:
value1 = int(input("Enter the first value = "))
value2 = int(input("Enter the second value = "))
value3 = int(input("Enter the third value = "))
if(value1>value2 and value1>value3 and value2>value3):
  print(value1 + " is the greatest and "+ value3 +" is the largest")
elif(value2>value1 and value2>value3 and value):
  print(value2)
else:
  print(value3)